<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      
      <p>Film Title of Studio Ghibli Films:</p>
      <form method="POST" action="/result">
        <input type="text" name="film_title">
        <input type="submit">
      </form>
      <p>HERE IS A VAUGE LIST OF TITLES TO TRY:</p>
      <h4>Howl's Moving Castle</h4>
      <h4>When Marnie Was There</h4>
      <h4>The Tale of the Princess Kaguya</h4>
      <h4>The Wind Rises</h4>
      <h4>From Up on Poppy Hill</h4>
      <h4>Arrietty</h4>
      <h4>Ponyo</h4>
      <h4>Castle in the Sky</h4>
      <h4>My Neighbor Totoro</h4>
      <h4>Spirited Away</h4>
      
      <p><img src="css/studio_ghibli_logo.jpg"  style="width:100%;"></p>
    </div>
    
  </body>
</html>
