<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      
      <p>Film Info of a Studio Ghibli Film:</p>
      <form method="POST" action="/result">
        <input type="text" name="film_info_type">
        <input type="submit">
      </form>
      <p>Here are the words you can submit to get this film's info:</p>
      <h4>title</h4>
      <h4>description</h4>
      <h4>director</h4>
      <h4>producer</h4>
      <h4>release_date</h4>
      <h4>rt_score</h4>
      
      <p><img src="css/studio_ghibli_logo.jpg"  style="width:100%;"></p>
    </div>
    
  </body>
</html>
