<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      
      <p>Film Info of Howls moving castle:</p>
      <form method="POST" action="/result">
        <input type="text" name="film_info_type"> <!-- The name film_info_type is collected to the model after user input -->
        <input type="submit">
      </form>
      <p>Here are the words you can submit to get this film's info:</p> <!--Should show the info in paragraph -->
      <h4>title</h4> <!-- Should show title in heading 4 -->
      <h4>description</h4> <!-- Should show description in heading 4 -->
      <h4>director</h4> <!-- Should show director in heading 4 -->
      <h4>producer</h4> <!-- Should show producer in heading 4 -->
      <h4>release_date</h4> <!-- Should show release_date in heading 4 -->
      <h4>rt_score</h4> <!-- Should show rt_score in heading 4 -->
       <!-- -->
      <h3><img src="css/HOWLS_126_c1081.0021.jpg"  style="width:50%;"></h3>
      <h5><img src="css/studio_ghibli_logo.jpg"  style="width:75%;"></h5>
      
    </div>
    
  </body>
</html>
