body {
    font-size: 30px;
    background-color: #00a2ff;
    font-family: 'Raleway', sans-serif;
}
h4{
    text-align: center;
}
p {
    color: black;
    text-align: center;
}

form {
    text-align: center;
}

h3 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

h5 {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}